page-sign-in {
    ion-content{
        background-color: #ffffff!important;
    }

    ion-list{
        background: white;
        margin: 0px !important;
        padding: 0px !important;
        ion-item{
            margin: 0px !important;
            padding: 0px !important;
        }
        ion-icon{
            padding: 0px !important;
            margin: 0px !important;
        }

        padding: 5px !important;
    }

    .p-button{
        font-weight: 400;
        color: color($colors, primary);
        font-size: 17px;
    }

    //centralizar imagem abaixo
    .div-img{
        display: block;
        align-items: baseline;
        //add para centralizar image
        text-align: center;
        align-content: center;
        align-self: center;
        //
        position: flex;
        left: 0;
        top: 0;
        max-width: 720px;
        max-height: 720px;
        z-index: 1;
        margin-top: 28px;
        width: 200px;
        margin: 20px auto;

    }



}
