<ion-content padding>
    <div class="spacer" style="height: 150px">
        <div class="div-img">
            <img src="assets/imgs/new_icon.png" style="height: 125px;">
        </div>
    </div>
    <form [formGroup]="loginForm">
        <ion-list>

            <ion-item>
                <ion-label stacked>Email*</ion-label>
                <ion-icon item-left name="ios-person"></ion-icon>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Senha*</ion-label>
                <ion-icon item-left name="ios-unlock"></ion-icon>
                <ion-input type="{{ showPasswordText ? 'text' : 'password' }}" formControlName="password"></ion-input>
                <button *ngIf="loginForm.controls.password.value != ''" ion-button icon-only clear color="dark" type="button" item-right
                    (click)="showPasswordText = !showPasswordText">
                    <ion-icon name="{{ showPasswordText ? 'eye-off' : 'eye' }}"></ion-icon>
                </button>
            </ion-item>
            <!--button clear class="positioning">Forgot</button-->
        </ion-list>
        <button ion-button type="submit" color="primary-edit" block (click)="signIn()">Entrar</button>
    </form>
    <p class="p-button" text-right><span class="span" (click)="forgetPassword()">Esqueceu sua senha?</span></p>
    <!--        
        <p class="p-button" text-right><span class="span" (click)="pushSignUp()">Cadastre-se</span></p>
    -->
</ion-content>