page-list-enquadramento {
      h1{
        margin: 1em 0;
        border-bottom: 1px dashed;
        padding-bottom: 1em;
        font-weight: lighter;
      }
      p{
        font-style: italic;
      }
      .loader{
        margin: 0 0 2em;
        height: 100px;
        width: 20%;
        text-align: center;
        padding: auto;

        margin: 0 auto 1em;
        display:block;
        //border: 1px solid black;
      }
      
      /*
        Set the color of the icon
      */
      svg path,
      svg rect{
        fill: #FF6700;
      }
}
