<ion-header>
  <ion-navbar>
    <ion-title>Salvar localização</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onSubmit()">
        <ion-icon class="create-user-icon" name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="height: 100%;" id="map_canvas"></div> 
</ion-content>
