page-list-created-multas {
    ion-card-header{
        padding: 4px !important;
        padding-left: 2px !important        ; 
    }

    ion-card-title{
        padding: 1px !important;
    }

    ion-badge{
        margin: 2px !important;
    }
    
    title{
        margin-left: 2px !important;
    }

    .row-badge{
        padding: 0px !important;
        display: flex;
        justify-content: right;
    }

    .teste{
        padding: 0 auto !important;
        margin: 0!important;
    }

    .card-col-1{
        background: red !important;
    }

    .multa-icon-header{
        font-size: 25px !important;
    }

    
    .item-obv{ 
        overflow: hidden;
        text-overflow: ellipsis;
        //border: 1px solid black;
        height: 102px;
    }
    
    /*
    .item-obv{
        background-color: red; float: right; padding-right: 5; right: 100px; height: 102px; overflow: hidden;
    }
    */
}
