<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Multas cadastradas
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="updateDataPage()">
        <ion-icon class="multa-icon-header" name="refresh"></ion-icon>
      </button>
      <button ion-button (click)="pushRegisterMulta()">
        <ion-icon class="multa-icon-header" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar text-center>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="changeViewFilterMultas == 'multas_nao_enviadas' &&  multasSqlite.length > 0" (click)="submitMultasOffline()">
          <ion-icon item-start name="cloud-upload" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ng-container *ngIf="changeViewFilterMultas == 'multas_enviadas'">
    <div *ngIf="!isConnect" padding>Sem conexão a internet</div>
    <div *ngIf="isConnect && multas.length == 0" padding>Nenhuma multa cadastrada</div>
    <div *ngIf="isConnect && multas.length > 0">
    <ion-card text-nowrap (click)="expandItem(item)" *ngFor="let item of multas" ion-long-press [interval]="400"
      (onPressStart)="openActionSheet(item)" (onPressing)="pressed()" (onPressEnd)="released()">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="border">
            <ion-card-header class="border" style="border-right: 5px solid red">
              <ion-card-title class="border title">
                <ion-row class="border">
                  <ion-col col-6><span class="title-card">{{ item.placa? item.placa:' ' }}</span></ion-col>
                  <ion-col col-6 class="col-date" text-right>
                    <ion-icon class="icon-calendar" item-left name="calendar"></ion-icon>
                    <span class="date">{{item.data_infracao_br ? item.data_infracao_br : '00/00/0000' }}</span>
                  </ion-col>
                </ion-row>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-content">
              <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
                <div text-wrap style="border-top: 1px solid black" *ngIf="item.expanded">
                  <ion-row *ngIf="item.descricao_marca_modelo">
                    <ion-col col-6>Veiculo:</ion-col>
                    <ion-col col-6>{{ item.descricao_marca_modelo ? item.descricao_marca_modelo : ' ' }}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>Situação Multa</ion-col>
                    <ion-col col-6>{{ item.situacao_multa_dados ? item.situacao_multa_dados.descricao : 'sem situação'}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>Hora</ion-col>
                    <ion-col col-6>{{ item.hora_infracao   ? item.hora_infracao  : ''}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>Observação</ion-col>
                    <ion-col col-6>
                      <div class="item-obv">{{ item.observacao ? item.observacao : 'sem observação'}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-footer>
                    <ion-buttons end>
                      <button ion-button clear (click)="buttonFooter(item)">Imprimir &nbsp;<ion-icon name="print"
                          items-end></ion-icon></button>
                    </ion-buttons>
                  </ion-footer>
                </div>
              </expandable>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    </div>
    <ion-infinite-scroll (ionInfinite)="getMoreMultas($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <ng-container *ngIf="changeViewFilterMultas == 'multas_nao_enviadas'">
    <div *ngIf="multas_paginateSqlite.length > 0">
      <ion-card text-nowrap (click)="expandItemMultaSqlite(item)" *ngFor="let item of multas_paginateSqlite"
        ion-long-press [interval]="400" (onPressStart)=" openActionSheetMultaSqlite(item)" (onPressing)="pressed()"
        (onPressEnd)="released()">
        <ion-grid>
          <ion-row>
            <ion-col col-12 class="border">
              <ion-card-header class="border" style="border-right: 5px solid red">
                <ion-card-title class="border title">
                  <ion-row class="border">
                    <ion-col col-6><span class="title-card">{{ item.placa? item.placa:' ' }}</span></ion-col>
                    <ion-col col-6 class="col-date" text-right>
                      <ion-icon class="icon-calendar" item-left name="calendar"></ion-icon>
                      <span class="date">{{item.data_infracao_br ? item.data_infracao_br : '00/00/0000' }}</span>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="card-content">
                <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
                  <div text-wrap style="border-top: 1px solid ; overflow: hidden;" *ngIf="item.expanded">
                    <ion-row *ngIf="item.descricao_marca_modelo">
                      <ion-col col-6>Veiculo:</ion-col>
                      <ion-col col-6>{{ item.descricao_marca_modelo ? item.descricao_marca_modelo : ' ' }}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-6>Status</ion-col>
                      <ion-col col-6>{{ item.status ? item.status : ''}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-6>Data</ion-col>
                      <ion-col col-6>{{ item.created   ? item.created   : ''}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-6>Observação</ion-col>
                      <ion-col col-6>
                        <div class="item-obv">{{ item.observacao ? item.observacao : 'sem observação'}}</div>
                      </ion-col>
                    </ion-row>
                    <ion-footer>
                      <!--ion-buttons end>
                        <button ion-button clear (click)="buttonFooter(item)">Imprimir &nbsp;<ion-icon name="print"
                            items-end></ion-icon></button>
                      </ion-buttons-->
                    </ion-footer>
                  </div>
                </expandable>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <div *ngIf="multas_paginateSqlite.length == 0" padding>
      Nenhuma multa cadastrada offline
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>