<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastrar Multa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form text-center [formGroup]="registerMulta">
    <ion-item>
      <ion-label stacked name="numero_auto_infracao" class="label-black">Número Auto Infração*:</ion-label>
      <ion-input id="auto_infracao" formControlName="numero_auto_infracao" name="numero_auto_infracao"  [brmasker]="{len:10, type:'text'}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked name="local_ocorrencia" class="label-black">Local Infração*:</ion-label>
      <ion-input formControlName="local_ocorrencia" maxlength="150" type="text" name="local_ocorrencia"></ion-input>
      <button class="button-icon" ion-button icon-only color="primary" type="button" item-right
      (click)="modalMaps()">
        <ion-icon name="navigate" color="light"></ion-icon>
      </button>
    </ion-item>
    
    <ion-item>
      <ion-label stacked name="placa" class="label-black">Placa*:</ion-label>
      <ion-input id="placa" formControlName="placa" type="text" name="placa" maxlength="8" placeholder="Ex: ABC-1234"
        [brmasker]="{mask:'ABC-1234', len:8, type:'text'}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating name="observacao" class="label-black">Observação:</ion-label>
      <ion-textarea formControlName="observacao" maxlength="150" type="text" name="observacao" rows="5"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label  class="label-black">Enquadramento*:</ion-label>
      <ion-label  class="label-black" *ngIf="selected_enquadramento == true">{{ multaProv.enquadramento_selected["codigo"]}}</ion-label>
      <ion-icon name="arrow-dropdown" color="gray" item-right (click)="modalEnquadramento()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label class="label-black">Agente*:</ion-label>
      <ion-select formControlName="agentes_id" placeholder="Clique aqui" disabled="true">
        <ion-option *ngIf="agente_current" [value]="agente_current.id">{{ agente_current.nome.toUpperCase() }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="label-black">Data infração*:</ion-label>
      <ion-datetime pickerFormat="DD/MMMM/YYYY" displayFormat="DD/MM/YYYY" formControlName="data_infracao"
        doneText="Selecionar" cancelText="Cancelar"
        monthNames="Janeiro, Fevereiro, Mar\u00e7o, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        placeholder="Clique aqui"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label-black">Hora infração*:</ion-label>
      <ion-datetime pickerFormat="HH:mm:ss" displayFormat="HH:mm:ss" doneText="Selecionar" cancelText="Cancelar"
      formControlName="hora_infracao" placeholder="Clique aqui"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="uf_emplacamento_array">
      <ion-label class="label-black">Estado Emplacamento:</ion-label>
      <ionic-selectable item-content
      placeholder="Clique aqui"
        formControlName="uf_emplacamento"
        [items]="uf_emplacamento_array" 
        itemValueField="id" 
        itemTextField="uf"
        (onChange)="changeEstate()"
      >
      </ionic-selectable>
    </ion-item>

    <ion-item *ngIf="uf_emplacamento_selected">
      <ion-label  class="label-black">Município emplacamento:</ion-label>
      <ion-label  class="label-black" *ngIf="registerMulta.controls.municipio_emplacamento.value !== null" >{{ multaProv.municipio_selected.nome ? multaProv.municipio_selected.nome: ''}}</ion-label>
      <ion-icon name="arrow-dropdown" color="gray" item-right (click)="modalMunicipio()"></ion-icon>
    </ion-item>

    <ion-list-header class="section">

    </ion-list-header>

    <ion-list>
      <ion-item>
        <ion-icon name="camera" item-start></ion-icon>
          Imagem infração
        <ion-icon [name]="registerMulta.get('foto_infracao').value == null ? 'add': 'checkmark'" item-end (click)="openActionSheetMultaImagem()"></ion-icon>
      </ion-item>      
    </ion-list>

    <hr>
    <button class="button-submit" class="button-submit" ion-button color="warning" block large
      (click)="submit()">Enviar</button>
  </form>
</ion-content>