<ion-header>
    <ion-navbar>
      <ion-title>Selecionar Municipio</ion-title>
    </ion-navbar>
    <ion-toolbar >
      <ion-searchbar placeholder="Pesquise por nome..."
      type="text"
      (ionInput)="getItems($event)"
      (ionCancel)="onCancel($event)"
       showCancelButton >
      </ion-searchbar>
      <ion-buttons end>
        <button ion-button (click)="closeModal()">
          <ion-icon color="light" name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ng-container *ngIf="array_filter == false ">
      <ion-item *ngFor="let item of municipio_array" >
        <ion-checkbox color="dark" mode="ios" checked=" {{ item.selected == true? 'true': 'false'}}" item-left (ionChange)="selectItem(item)"></ion-checkbox>
        <ion-label text-wrap > {{item.nome.toUpperCase()}}</ion-label>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
        <ion-infinite-scroll-content 
        loadingSpinner="bubbles"
        loadingText="Carregando mais dados..."
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
  
  
    <ng-container *ngIf="array_filter == true">
      <div *ngIf="municipio_array_filter.length > 0">
        <ion-item *ngFor="let item of municipio_array_filter" >
            <ion-checkbox color="dark" mode="ios" checked=" {{ item.selected == true? 'true': 'false'}}" item-left (ionChange)="selectItem(item)"></ion-checkbox>
            <ion-label text-wrap >{{ item.nome.toUpperCase()}}</ion-label>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="getItemsDoInfinite($event)" >
          <ion-infinite-scroll-content 
          loadingSpinner="bubbles"
          loadingText="Carregando mais dados..."
          ></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div padding  *ngIf="municipio_array_filter.length == 0">
        Nenhum registro encontrado para sua pesquisa..
      </div>
    </ng-container>
  
    <ng-container *ngIf="view_loading == true" >
      <div class="loader loader--style1" title="0">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="60px" height="60px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
        <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
          s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
        <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
          C22.32,8.481,24.301,9.057,26.013,10.047z">
          <animateTransform attributeType="xml"
            attributeName="transform"
            type="rotate"
            from="0 20 20"
            to="360 20 20"
            dur="0.5s"
            repeatCount="indefinite"/>
          </path>
        </svg>
      </div>    
    </ng-container>
  </ion-content>
  