<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Atualizar Multa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form text-center [formGroup]="registerMulta">
    <ion-item>
      <ion-label stacked name="numero_auto_infracao" class="label-black">Número auto infração*:</ion-label>
      <ion-input formControlName="numero_auto_infracao" name="numero_auto_infracao" [brmasker]="{len:10, type:'text'}" disabled="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked name="local_ocorrencia" class="label-black">Local infração*:</ion-label>
      <ion-input formControlName="local_ocorrencia" maxlenght="150" type="text" name="local_ocorrencia"></ion-input>
      <!--button class="button-icon" ion-button icon-only color="primary" type="button" item-right
        (click)="modalMaps()">
        <ion-icon name="navigate" color="light"></ion-icon>
      </button-->
    </ion-item>
    <ion-item>
      <ion-label stacked name="placa" class="label-black">Placa*:</ion-label>
      <ion-input formControlName="placa" type="text" name="placa" maxlength="8" placeholder="Ex: ABC-1234"
        [brmasker]="{mask:'ABC-1234', len:8, type:'text'}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating name="observacao" class="label-black">Observação*:</ion-label>
      <ion-textarea formControlName="observacao" maxlength="150" type="text" name="observacao" rows="5"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="label-black">Enquadramento*:</ion-label>
      <ion-label class="label-black" *ngIf="selected_enquadramento == true">
        {{ multaProv.enquadramento_selected["codigo"]}}</ion-label>
      <ion-icon name="arrow-dropdown" color="gray" item-right (click)="modalEnquadramento()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="label-black">Agente*:</ion-label>
      <ion-select *ngIf="agente_current"  disabled="true" [placeholder]="agente_current.nome.toUpperCase()">
        <ion-option>
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="label-black">Data infração*:</ion-label>
      <ion-datetime pickerFormat="DD/MMMM/YYYY" displayFormat="DD/MM/YYYY" formControlName="data_infracao"
        doneText="Selecionar" cancelText="Cancelar"
        monthNames="Janeiro, Fevereiro, Mar\u00e7o, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        placeholder="Clique aqui"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label-black">Hora infração*:</ion-label>
      <ion-datetime pickerFormat="HH:mm:ss" displayFormat="HH:mm:ss" doneText="Selecionar" cancelText="Cancelar"
        formControlName="hora_infracao" placeholder="Clique aqui"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label-black">Estado emplacamento*:</ion-label>
      <ionic-selectable item-content placeholder="Clique aqui" formControlName="uf_emplacamento"
        [items]="uf_emplacamento_array" itemValueField="id" itemTextField="uf" (onChange)="changeEstate()">
      </ionic-selectable>
    </ion-item>
    <ion-item *ngIf="registerMulta.controls.uf_emplacamento.value != null">
      <ion-label class="label-black">Municipio emplacamento*:</ion-label>
      <ion-label class="label-black" *ngIf="registerMulta.controls.municipio_emplacamento.valid">
        {{ multaProv.municipio_selected.nome ? multaProv.municipio_selected.nome: ''}}</ion-label>
      <ion-icon name="arrow-dropdown" color="gray" item-right (click)="modalMunicipio()"></ion-icon>
    </ion-item>

    <!--ion-list-header text-wrap class="section">
      <h4>Adicionar Imagem Infração*</h4>
    </ion-list-header>

    <p class="p-desc">Incluia a imagem da infração selecionando na galeria de imagens</p>

    <button ion-button class="button-clear" clear large (click)="takePictureInDevice()" icon-left *ngIf="!imagem_add">
      <ion-icon name="images"></ion-icon>Galeria
    </button>

    <button ion-button large clear class="button-clear-ok" color="secondary" icon-left *ngIf="imagem_add">
      <ion-icon name="checkmark-circle" color="sencondary"></ion-icon>Concluído
    </button>
    <button ion-button class="button-clear-refresh" clear *ngIf="imagem_add">
      <ion-icon (click)="removeImagem()" name="refresh-circle"></ion-icon>
    </button-->
    <ion-list class="border-color-gray padding-foto-infracao">
      <!--ion-list-header class="bg-gray">
        <ion-label>Foto infração</ion-label>
      </ion-list-header-->
      <ion-item>
        <!--ion-icon name="camera" item-start></ion-icon-->
        foto infação
        <!--ion-icon class="color-gray" name="eye" item-end (click)="openModalViewPhoto()"></ion-icon-->
        <ion-icon class="color-gray" name="create" item-end (click)="openActionSheetMultaImagem()" *ngIf="!imagem_add"></ion-icon>
        <ion-icon class="color-gray" name="trash" item-end (click)="removeImagem()" *ngIf="imagem_add"></ion-icon>
        
      </ion-item>
      <img [src]="foto_infracao" style="width:100%"/>
    </ion-list>
    <button class="button-submit" class="button-submit" ion-button color="warning" block large
      (click)="updateMulta()">Enviar</button>
  </form>
</ion-content>