page-update-multa {
    .label-black{
        color: black !important;
    }

    .button-submit{
        border-radius: 0px !important;
        color: white;
    }

    .icon-button{
        padding-left: 1px;
    }

    .button-submit{
        margin-top: 5px !important;
    }

    .section{
        background-color: #d3d3d3;
    }

    .p-desc{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
    }

    .button-clear{
        border: 1px solid color($colors, primary);
    }

    .button-clear-ok{
        border: 1px solid color($colors, secondary);
        display: block;
        margin: 0 auto;
      }
    

      .button-clear-refresh{
        border:0;
        ion-icon{
          font-size: 35px !important;
          color: #d3d3d3;
        }
      }

     /* .button-icon{
          padding: 0 5px 0 5px;
      }
    */

      .item-md .item-button[icon-only] ion-icon, .item-md .item-button[icon-only] {
        padding: 21px 8px;
        border-radius: 28px;
    }

    .bg-gray{
        background-color: #d3d3d3;
    }

    .border-color-gray{
        border-width: 1px 0 1px 0;
        border-style: solid !important;
        border-color: #bbbbbb !important;
    }


    .color-gray{
        color: #949292 !important;
    }

    .padding-foto-infracao{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    

}
