page-home {
    .bg-content{
        background: #fff url('../assets/imgs/coima-logo.png') no-repeat center center fixed !important;
        -webkit-background-size: contain !important;
        -moz-background-size: contain !important;
        -o-background-size: contain !important;
        background-size: contain !important;      
    }

}
