page-sign-up {
    ion-content{
        background-color: #efefef !important;
    }

    ion-list{
        background: white;
        margin: 0px !important;
        padding: 0px !important;
        ion-item{
            margin: 0px !important;
            padding: 0px !important;
        }
        ion-icon{
            padding: 0px !important;
            margin: 0px !important;
        }

        ion-input{
            margin-bottom: 0px !important;
        }

        padding: 5px !important;
    }

    .error{
        margin-left: 50px !important;
        color: #ff0000 !important;
        font-size: 12px !important;
        padding: 0px !important;
      }

      ion-footer{
          background: #fff;
          padding: 5px;
      }
}
