<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signUpForm">
      <ion-list>
          <ion-item>
              <ion-label stacked>Nome *</ion-label>
              <ion-icon item-left name="ios-person"></ion-icon>
              <ion-input maxlength="10" type="text" formControlName="name"></ion-input>
            </ion-item>
            <p class="error" *ngIf="signUpForm.get('name').hasError('minlength') && signUpForm.get('name').touched">campo nome deve ter no minimo 2 caracteres</p>
            <p class="error" *ngIf="signUpForm.get('name').hasError('pattern') && signUpForm.get('name').touched">campo nome só pode conter letras</p>


          <ion-item>
              <ion-label stacked>Sobrenome *</ion-label>
              <ion-icon item-left name="ios-person"></ion-icon>
              <ion-input maxlength="30" type="text" formControlName="lastname"></ion-input>
          </ion-item>
          <p class="error" *ngIf="signUpForm.get('lastname').hasError('minlength') && signUpForm.get('lastname').touched">campo nome deve ter no minimo 2 caracteres!</p>
          <p class="error" *ngIf="signUpForm.get('lastname').hasError('pattern') && signUpForm.get('lastname').touched">campo nome só pode conter letras</p>

          <ion-item>
              <ion-label stacked>CPF *</ion-label>
              <ion-icon item-left name="ios-card"></ion-icon>
              <ion-input type="tel"  maxlength="14" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}" formControlName="cpf"></ion-input>
          </ion-item>
          <p class="error" *ngIf="( signUpForm.get('cpf').hasError('cpf_invalid') || signUpForm.get('cpf').hasError('minlength') )&& signUpForm.get('cpf').touched ">cpf inválido</p>
          
          <ion-item>
              <ion-label stacked>Telefone *</ion-label>
              <ion-icon item-left name="ios-call"></ion-icon>
              <ion-input type="tel" maxlength="15" [brmasker]="{mask:'(99) 99999-9999', len:15, type:'num'}" formControlName="phone"></ion-input>
          </ion-item>
          <p class="error" *ngIf="signUpForm.get('phone').hasError('minlength') && signUpForm.get('phone').touched ">numero inválido</p>

          <ion-item>
              <ion-label stacked>Email *</ion-label>
              <ion-icon item-left name="ios-mail"></ion-icon>
              <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <p class="error" *ngIf="signUpForm.get('email').hasError('email') && signUpForm.get('email').touched ">email inválido</p>

          <ion-item>
              <ion-label stacked>Senha *</ion-label>
              <ion-icon item-left name="ios-key"></ion-icon>
              <ion-input type="{{ showPasswordText ? 'text' : 'password' }}" formControlName="password"></ion-input>
              <button *ngIf="signUpForm.controls.password.value != ''" ion-button icon-only clear color="dark" type="button" item-right
                  (click)="showPasswordText = !showPasswordText">
                  <ion-icon name="{{ showPasswordText ? 'eye-off' : 'eye' }}"></ion-icon>
              </button>
          </ion-item>
          <p class="error" *ngIf="signUpForm.get('password').hasError('minlength') && signUpForm.get('password').touched ">senha deve ter no minimo 6 digitos</p>
      </ion-list>
      <button ion-button type="submit" color="primary-edit" block (click)="console()">Cadastrar</button>
  </form>
</ion-content>
<ion-footer>
    Campos obrigatórios (*)
</ion-footer>
