<ion-content>
  <ion-list >
    <ion-list-header>Filtro de multas</ion-list-header>
    <button ion-item (click)="select('multas_enviadas')">Enviadas</button>
    <button ion-item (click)="select('multas_nao_enviadas')">Não enviadas</button>
  </ion-list>
</ion-content>
