<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consultar Veiculo</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onSubmit()">
        <ion-icon class="create-user-icon" name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="formCondutor">
    <ion-item>
      <ion-label>Tipo de Consulta</ion-label>
      <ion-select formControlName="tipo" interface="action-sheet" okText="Selecionar" (ionChange)="changeType()" cancelText="Cancelar">
        <ion-option *ngFor="let item of query_types" [value]="item">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="this.formCondutor.get('tipo').valid">
      <ion-label [color]="this.formCondutor.get('tipo').value['name'] == 'Placa'? 'secondary': this.formCondutor.get('tipo').value['name'] == 'Chassi'? 'primary': 'danger'" fixed>{{formCondutor.get('tipo').value['name']}}</ion-label>
      <ion-input id="input-chave" formControlName="chave" 
        [type]="this.formCondutor.get('tipo').value['name'] == Renavam? tel:text" 
        
        [placeholder]="this.formCondutor.get('tipo').value['name']== 'Placa'? 'Ex: ABC-1234': 
        this.formCondutor.get('tipo').value['name'] == 'Chassi'? 'Digite o número do Chassi':'Digite o número do Renavam'"

        [brmasker]="this.formCondutor.get('tipo').value['name'] == 'Placa'? {mask:'ABC-1234', len:8, type:'text'} :
        this.formCondutor.get('tipo').value['name']  == 'Renavam'? {mask:'00000000000', len:11, type:'num'}: {len:17, type:'text'}">
    </ion-input>
    </ion-item>    
  </form>
  <!--ion-card>
    <ion-card-header style="background-color: #d3d3d3;">
      CONSULTA BASE LOCAL REALIZADA
    </ion-card-header>
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col >
            WS_PLACA
          </ion-col>
          <ion-col>
            HPT8508
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            WS_PROPRIETARIO
          </ion-col>
          <ion-col>
            MAURICIO SOUSA LIMA
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            WS_MARCA
          </ion-col>
          <ion-col>
            HONDA/CG 150 TITAN ES
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            WS_CHASSI
          </ion-col>
          <ion-col>
            9C2KC08504R031070
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            WS_RENAVAM
          </ion-col>
          <ion-col>
            834124513
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col >
              WS_TIPO
            </ion-col>
            <ion-col>
              MOTOCICLETA
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              WS_UF
            </ion-col>
            <ion-col>
              MA
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card-->

  <ion-card *ngIf="retorno">
      <ion-card-header style="background-color: #d3d3d3;">
        {{retorno.mensagem}}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let item of retorno.data">
            <ion-col >
              {{item.title}}
            </ion-col>
            <ion-col>
              {{item.data}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  
</ion-content>
