<ion-header>

  <ion-navbar hideBackButton >
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Meus Veiculos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="card-container" *ngFor="let v of vehicles" (click)="openActionSheet(v)">
    <ion-card-header text-center class="card-header">
     <div class="parafuso left">
       
    </div>
    <div class="uf">
      UF - CIDADE
    </div>
    <div class="parafuso right">

    </div>
    </ion-card-header>
    <ion-card-content text-center class="card-content">
      {{v.placa}}
    </ion-card-content>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addVehiclePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>