page-my-vehicle {
    .card-container{
        background-color: color($colors, gray);
        border-radius: 20px !important;
        border: 5px solid gray; 
    }

    .card-header{
      margin: 9px 14px 0px 14px;
      border: 1px solid black;
      padding: 3px;
    }
/*
    @font-face {
        font-family: 'MANDATOR' !important;
        src: url('../fonts/MANDATOR.ttf') format('truetype') !important;
        
        font-style: initial !important;
    }

    */

/*
    @font-face {
      font-family: 'Lato-Light';
      src: url('../../fonts/MANDATOR.eot') format('embedded-opentype'), url('../../fonts/MANDATOR.woff') format('woff'), url('../../fonts/MANDATOR.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  */


    
    .card-content{
        //background: linear-gradient(90deg, rgba(190,190,190,1) 0%, rgba(255,245,245,1) 100%, rgba(0,212,255,1) 100%);
        font-size: 40px;
        font-weight: bolder !important;
        //font-family: 'Lato-Light' !important;

    }

    //bandeira do brasil
    $flag-width: 250px;
    $flag-height: 150px;
    
    $color-white: #fff;
    $color-flag: #16b83e;
    $color-losangue: #ffe11f;
    $color-circle: #1651b8;
    
    $losangue-width: 105px;
    $losangue-height: 130px;
    
    .brasil-flag {
      position: relative;
      background-color: $color-flag;
      width: $flag-width;
      height: $flag-height;
      margin: 5em auto 0;
    
      .circle,
      .losangue:before,
      .losangue:after {
        position: absolute;
      }
    
      .losangue {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    
        &:before,
        &:after {
          content: '';
          width: 0;
          height: 0;
          left: 20px;
          right: 20px;
        }
    
        &:before {
          border-left: $losangue-width solid transparent;
          border-right: $losangue-width solid transparent;
          border-bottom: ($losangue-height/2) solid $color-losangue;
          top: 10px;
        }
    
        &:after {
          border-left: $losangue-width solid transparent;
          border-right: $losangue-width solid transparent;
          border-top: ($losangue-height/2) solid $color-losangue;
          bottom: 10px;
        }
      }
    
      .circle {
        overflow: hidden;
        z-index: 2;
        display: block;
        background-color: $color-circle;
        height: 80px;
        width: 80px;
        margin-top: -40px;
        margin-left: -40px;
    
        &,
        &:before,
        &:after {
          top: 50%;
          left: 50%;
          position: absolute;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
        }
    
        &:before,
        &:after {
          width: 90px;
          height: 40px;
          -ms-transform: rotate(14deg);
          -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
        }
    
        &:before {
          z-index: 3;
          content: '';
          margin-top: -20px;
          margin-left: -45px;
          background: $color-white;
        }
    
        &:after {
          z-index: 4;
          content: '';
          margin-top: -10px;
          margin-left: -48px;
          background-color: $color-circle;
        }
      }
    }

    .parafuso{
      display: inline-block;
      border: 1px solid rgb(90, 89, 89);
      background-color: color($colors, gray);
      width: 15px;
      height: 15px;
      border-radius: 25px;
      text-align: center;
      margin: 0 auto !important;
      position: relative;
      
    }

    // .parafuso-center{
    //   display: inline-block;
    //   border: 1px solid black;
    //   background-color: black;
    //   width: 5px;
    //   height: 5px;
    //   border-radius: 25px;
    //   padding: 0px;
    //   margin: 0p
    // }

    .right{
      float: right !important;
    }

    .left{
      float: left !important;
    }

    .uf{
      display: inline-block;
      //border: 1px solid black
    }
}
