// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-exit{
    padding: 20px !important;
    color: color($colors, primary-edit);
}

.menu-page-text{
    color: color($colors, primary-edit);
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #f53d3d;
     -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #488aff;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

/*
@font-face {
    font-family: 'Lato-Light';
    src: url('../../fonts/MANDATOR.eot') format('embedded-opentype'), url('../../fonts/MANDATOR.woff') format('woff'), url('../../fonts/MANDATOR.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
*/

  