<ion-menu id="users" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!--button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menu-page-text">
        {{p.title}}
      </button-->
    </ion-list>
  </ion-content>
  <ion-footer (click)="logoutConfirm()" padding-top padding-bottom>
    <span class="menu-exit"><ion-icon color="primary-edit" name="exit" item-left padding-right></ion-icon>Sair</span>
  </ion-footer>
</ion-menu>

<ion-menu id="admin" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Admin</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pagesAdmin" (click)="openPage(p)" class="menu-page-text">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer (click)="logoutConfirm()" padding-top padding-bottom>
    <span class="menu-exit"><ion-icon color="primary-edit" name="exit" item-left padding-right></ion-icon>Sair</span>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>