<ion-header>
    <ion-navbar>
        <ion-title>Cadastro Veículo</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="vehicleForm">
        <ion-list>

            <ion-item>
                <ion-label stacked>Placa*</ion-label>
                <ion-input type="text" maxlength="8" placeholder="ABC-1234" [brmasker]="{mask:'ABC-1234', len:8, type:'text'}" formControlName="placa"></ion-input>
            </ion-item>
            <p class="error" *ngIf="vehicleForm.get('placa').hasError('minlength') && vehicleForm.get('placa').touched">informe uma placa valida</p>
            <p class="error" *ngIf="vehicleForm.get('placa').hasError('pattern') && vehicleForm.get('placa').touched">campo nome só pode conter letras</p>

            <ion-item>
                <ion-label stacked>Renavan*</ion-label>
                <ion-input type="tel" maxlength="11"   placeholder="Digite os 11 números"  [brmasker]="{mask:'00000000000', len:11, type:'num'}" formControlName="renavan"></ion-input>
            </ion-item>
            <p class="error" *ngIf="vehicleForm.get('renavan').hasError('minlength') && vehicleForm.get('renavan').touched">campo renavan deve ter no minimo 11 caracteres!</p>
            <p class="error" *ngIf="vehicleForm.get('renavan').hasError('pattern') && vehicleForm.get('renavan').touched">campo nome só pode conter letras</p>
        </ion-list>
        <button ion-button type="submit" color="primary-edit" block (click)="registerVehicle()">Avançar</button>
    </form>
</ion-content>