page-list-multa {

    ion-card-header{
        padding: 4px !important;
        padding-left: 2px !important        ; 
    }

    ion-card-title{
        padding: 1px !important;
    }

    ion-badge{
        margin: 2px !important;
    }


    // .border{
    //     border: 1px solid black;
    // }
    title{
        margin-left: 2px !important;
    }

    .row-badge{
        padding: 0px !important;
        display: flex;
        justify-content: right;
    }

    .teste{
        padding: 0 auto !important;
        margin: 0!important;
    }

    .card-col-1{
        background: red !important;
    }




}
