<ion-header>
  <ion-navbar hideBackButton >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minhas multas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="not_register_found ==  false">
      <div > 
          <ion-card text-nowrap (click)="expandItem(item)" *ngFor="let item of multas">
            <ion-grid>
              <ion-row>
                <ion-col col-12 class="border">
                  <ion-card-header class="border" style="border-right: 5px solid red">
                    <ion-card-title class="border title">
                      <ion-row class="border">
                        <ion-col col-6><span class="title-card">{{ item.placa?item.placa:' ' }}</span></ion-col>
                        <ion-col col-6 class="col-date" text-right>
                          <ion-icon class="icon-calendar" item-left name="calendar"></ion-icon>
                          <span class="date">{{item.data_infracao[0] ? item.data_infracao[0] : '00/00/0000' }}</span>
                        </ion-col>
                      </ion-row>
                      <ion-row class="border row-badge">
                        <ion-col col-3>
                          <!--ion-badge color="danger" float-left>teste</ion-badge-->
                        </ion-col>
                        <ion-col col-3>
                          <!--ion-badge color="danger" float-left>teste</ion-badge-->
                        </ion-col>
        
                        <ion-col col-4 text-center>
                          <span class="valor">R$ {{ item.valor_recebido? item.valor_recebido.toFixed(2) : "0.00" }}</span>
                        </ion-col>
                      </ion-row>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="card-content">
                    <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
                      <div text-wrap style="border-top: 1px solid black" *ngIf="item.expanded">
                        <ion-row>
                          <ion-col col-6>Veiculo:</ion-col>
                          <ion-col col-6>{{ item.marca_e_modelo ? item.marca_e_modelo : ' ' }}</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col col-6>Descrição</ion-col>
                          <ion-col col-6>{{ item.observacao ? item.observacao : ''}}</ion-col>
                        </ion-row>
                      </div>
                    </expandable>
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
  </ng-container>
  <ng-container  *ngIf="not_register_found ==  true" >
    <p>Nenhuma multa encontrada</p>
  </ng-container>
 

</ion-content>