<ion-header>
  <ion-navbar>
    <ion-title>Foto Infração Cadastrada</ion-title>
    <ion-buttons end>
        <button ion-button (click)="modalDismiss()">
          <ion-icon class="close-page-icon" name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <img [src]="foto_infracao" style="width:100%"/>
</ion-content>
