<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consultar Condutor</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onSubmit()">
        <ion-icon class="create-user-icon" name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--p>CPF Teste: 270.654.213-68</p-->
  <form [formGroup]="formCondutor">
    <ion-item>
      <ion-label>Tipo de Consulta</ion-label>
      <ion-select formControlName="tipo" interface="action-sheet" okText="Selecionar" (ionChange)="changeType()" cancelText="Cancelar">
        <ion-option *ngFor="let item of query_types" [value]="item">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="formCondutor.get('tipo').valid">
      <ion-label fixed>{{formCondutor.get('tipo').value['name']}}</ion-label>
      <ion-input id="input-chave" formControlName="chave" 
      [type]="formCondutor.get('tipo').value['name'] == 'CPF'? tel:
      formCondutor.get('tipo').value['name'] == 'Numero CNH'? tel: text"

      [placeholder]="formCondutor.get('tipo').value['name'] == 'CPF'? 'Ex: 000.000.000-00':
      formCondutor.get('tipo').value['name'] == 'Registro'? 'Numero de Registro' : 
      formCondutor.get('tipo').value['name'] == 'Numero CNH'? 'Digite os 11 números do CNH' : 'Digite o PGU'"
      
      [brmasker]="formCondutor.get('tipo').value['name'] == 'CPF'? {mask:'000.000.000-00', len:14, type:'num'}: 
      formCondutor.get('tipo').value['name'] == 'Numero CNH'? {mask:'00000000000', len:11, type:num}: {}"  
      ></ion-input>
    </ion-item>    
  </form>

  <ion-card *ngIf="retorno">
      <ion-card-header style="background-color: #d3d3d3;">
        {{retorno.mensagem}}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let item of retorno.data">
            <ion-col >
              {{item.title}}
            </ion-col>
            <ion-col>
              {{item.data}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-content>
