<ion-header>

  <ion-navbar>
    <ion-title>Novo Veículo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]="registerVehicle" (ngSubmit)="saveVehicle()">
  <ion-list>

    <ion-item>
      <ion-label>Placa:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input type="text"  maxlength="8" placeholder="ABC-1234" [brmasker]="{mask:'ABC-1234', len:8, type:'text'}" formControlName="placa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Renavan: </ion-label>
      <ion-input type="tel"  maxlength="11"   placeholder="Digite os 11 números"  [brmasker]="{mask:'00000000000', len:11, type:'num'}" formControlName="renavan"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button large block type="submit" [disabled]="!registerVehicle.valid" color="warning">Salvar</button>
  </div>

  </form>

</ion-content>