<ion-header>
  <ion-navbar>
    <ion-title>Selecionar Dispositivo</ion-title>
    <ion-buttons end>
        <button ion-button (click)="listPairedDevices()">
            <ion-icon class="refresh-icon" name="refresh"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Lista de dispositivos pareados
    </ion-card-header>
  
    <ion-list>
        <button ion-item  *ngFor="let i of pairedList;let j=index" (click)="connect(i.address)">
            <ion-icon name="bluetooth" item-start></ion-icon>
              {{i.name}}
            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
    </ion-list>
  </ion-card>
</ion-content>

